@using System;
@using System.Web.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Access and manipulate your data with DBBroker, a .NET library that will make this boring work easy. Know more...">
    <meta name="keywords" content="SQL Server .net C# csharp orm tool library automatic mapping objects" />
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <title>DBBroker @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DBBroker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink(ViewBag.UserLanguage == "pt" ? "Primeiros passos" : "Getting Started", "GettingStarted", "Home")</li>
                    <li>@Html.ActionLink(ViewBag.UserLanguage == "pt" ? "Funções" : "Features", "Features", "Home")</li>
                    <li>@Html.ActionLink(ViewBag.UserLanguage == "pt" ? "Licença" : "License", "License", "Home")</li>
                    <li>@Html.ActionLink(ViewBag.UserLanguage == "pt" ? "Feedback" : "Feedback", "Index", "Feedback")</li>
                    <li>@Html.ActionLink(ViewBag.UserLanguage == "pt" ? "Sobre" : "About", "About", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.UserLanguage == "pt") 
                    { 
                        <li>@Html.ActionLink("English", "SetLanguage", "Home", new { lang = "en" }, new { })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Português", "SetLanguage", "Home", new { lang = "pt" }, new { })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-size:xx-small;" class="text-center">
            <a href="~/Home/Index">
                <img src="~/Img/dbbroker_logo_150x55.png" width="100" />
            </a>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65054442-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
