@using DBBrokerSite.Models
@model GettingStartedViewModel
@{
    ViewBag.Title = @Model.Title;
}
<div class="row">
    <div class="col-md-8">
        <h2>@Model.Title</h2>
    </div>
    <div class="col-md-4 text-right">
        &nbsp;
    </div>
</div>

@Html.Hidden("ActiveTab", null, new { @id = "active_tab" })
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <ul class="nav nav-tabs">
            <li id="tab_video" role="presentation" @Html.Raw((Model.ActiveTab == "tab_video" ? "class=\"active\"" : ""))><a href="javascript:void(0)" onclick="select_tab('tab_video')">@Model.TabVideo</a></li>
            <li id="tab_steps" role="presentation" @Html.Raw((Model.ActiveTab == "tab_steps" ? "class=\"active\"" : ""))><a href="javascript:void(0)" onclick="select_tab('tab_steps')">@Model.TabSteps</a></li>
        </ul>
    </div>
    <div class="col-md-1"></div>
</div>

<script>
    function select_tab(tab) {
        if(tab == "tab_steps")
        {
            document.getElementById("div_steps").style.display = "block";
            document.getElementById("div_video").style.display = "none";
        }
        else
        {
            document.getElementById("div_steps").style.display = "none";
            document.getElementById("div_video").style.display = "block";
        }

        document.getElementById("tab_steps").className = "";
        document.getElementById("tab_video").className = "";

        document.getElementById(tab).className = "active";
        document.getElementById("active_tab").value = tab;
    }
</script>
<br />

<div id="div_video">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-8 text-center">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="@Model.MainVideo.EmbedUrl" frameborder="0" allowfullscreen></iframe>
            </div>
            <h4 class="text-left"><a href="@Model.MainVideo.YouTubeUrl" target="_blank">@Model.MainVideo.Title</a></h4>
        </div>
        <div class="col-md-3">
            @{
                if (Model.Videos != null && Model.Videos.Count > 0)
                {
                    foreach (var video in Model.Videos.Values)
                    {
                        <a href="?v=@video.Code"><img src="@video.DefaultPictureUrl" /></a>
                        <h5><a href="?v=@video.Code">@video.Title</a></h5>
                    }
                }
            }
        </div>
    </div>
</div>



<div id="div_steps" style="display: none;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Html.Raw(Model.WhatIsTitle)</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Html.Raw(Model.WhatIsContent)</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Model.WhyUseItTitle</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Model.WhyUseItContent1</p>
            <p>@Model.WhyUseItContent2</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Model.Step1Title</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Html.Raw(Model.Step1Parag1)</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="~/Img/GettingStarted/referencing_nuget.png" alt="Alternate Text" />
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Model.Step2Title</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Model.Step2Parag1</p>
            <p><span class="badge">@Model.Step2Parag2</span></p>
            <p><span class="badge">@Model.Step2Parag3</span></p>
            <p>@Model.Step2Parag4</p>
            <ul>
                <li>@Html.Raw(Model.Step2Parag5)</li>
                <li>@Html.Raw(Model.Step2Parag6)</li>
                <li>@Html.Raw(Model.Step2Parag7)</li>
                <li>@Html.Raw(Model.Step2Parag8)</li>
                <li>@Html.Raw(Model.Step2Parag9)</li>
            </ul>
            @*<p>@Model.Step2Parag10</p>*@
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="~/Img/GettingStarted/person_class.png" alt="Alternate Text" />
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Model.Step3Title</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Model.Step3Parag1</p>
            <p>@Model.Step3Parag2</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="~/Img/GettingStarted/dbperson_class.png" alt="Alternate Text" />
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Model.Step3Parag3</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="~/Img/GettingStarted/dbperson_methods.png" alt="Alternate Text" />
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>@Model.LastThing</h3>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>@Model.LastThingParag1</p>
            <p>@Model.LastThingParag2</p>
            <p>@Html.Raw(Model.LastThingParag3)</p>
            <p>@Model.LastThingParag4</p>
            <p>@Model.LastThingParag5</p>
            <p>@Html.Raw(Model.LastThingParag6)</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>