@using DBBrokerSite.Models
@model FeedbackViewModel

@{ 
    ViewBag.Title = Model.Title;
}

<style>
    .table-hover > tbody > tr:hover {
        background-color: #e5e5e5 !important;
        cursor: pointer;
    }
</style>

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-3">
        <h3 style="display: inline;">@Model.KnownIssues</h3>
    </div>
    <div class="col-md-9 text-right">
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal">@Model.BtnFeedback</a>
        <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal_Issue">@Model.BtnReportIssue</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
</div>

<!-- Modal -->
@using (Html.BeginForm("SaveNewFeedback", "Feedback", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Model.BtnFeedback</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="NewFeedback_User_Email">Email</label>
                    @Html.TextBoxFor(m => m.NewFeedback.User.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="NewFeedback_Title">@Model.ThTitle</label>
                    @Html.TextBox("NewFeedback.Title", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="NewFeedback_Description">@Model.ThDescription</label>
                    @Html.TextArea("NewFeedback.Description", null, htmlAttributes: new { @class = "form-control", @rows = "6" })
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Model.LbClose</button>
                <input type="submit" class="btn btn-primary" onclick="alert('@Model.LbThanksFeedback')" value="@Model.LbSave" />
            </div>
        </div>
    </div>
</div>
}

<!-- Modal -->
@using (Html.BeginForm("SaveNewIssue", "Feedback", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade" id="myModal_Issue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Model.BtnReportIssue</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="NewIssue_User_Email">Email*</label>
                        @Html.TextBoxFor(m => m.NewIssue.User.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="NewIssue_Title">@Model.ThTitle</label>
                        @Html.TextBox("NewIssue.Title", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="NewIssue_Description">@Model.ThDescription</label>
                        @Html.TextArea("NewIssue.Description", null, htmlAttributes: new { @class = "form-control", @rows = "6", @width = "100%" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Model.LbClose</button>
                    <input type="submit" class="btn btn-primary" value="@Model.LbSave" />
                </div>
            </div>

        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Issues.Count > 0)
        {
            <table align="center" class="table table-hover">
                <thead>
                    <tr>
                        <th>@Model.ThTitle</th>
                        <th>@Model.ThDescription</th>
                        <th>@Model.ThStatus</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Issues)
                {
                    <tr onclick="alert('@item.Id')">
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Status.Description</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <h2><small>@Model.LbNothingMessage</small></h2>
        }
    </div>
</div>
